<ul >
  {{#events}}
    <li>
        <h2>Title: {{ title }}</h2>
        <p>Description: {{ description }}</p>
        <p>Location: {{ location }}</p>
        <p><img src="{{ image }}" alt="Italian Trulli"></p>
    </li>
  {{/events}}
</ul>